<style>
    .text-decoration-none{
        color: black !important;
    }
</style>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/jash-pandya/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            
            <a href="https://github.com/jashPandyaa" target="_blank">
                <i class="fa-brands fa-square-github"></i>
            </a>
            
            <a href="https://www.instagram.com/jash.pandyaa?igsh=MTc2bzg0dHdmdzZ4ag==" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Privated Limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="text-decoration-none me-2">Privacy</a>
            <span class="mx-1">•</span>
            <a href="/terms" class="text-decoration-none ms-2">Terms</a>
        </div>
    </div>
</footer>