<% layout("/layouts/boilerplate"); %>


<div class="row mt-3">
    <h1 class="col-6 offset-3">Login to <span  style="color: red;">Wanderlust</span></h1>
    <div class="col-6 offset-3">
        <form method="POST" action="/login" class="needs-validation" novalidate><br>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="enter username" type="text" class="form-control signup" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" placeholder="enter password" type="password" class="form-control signup" required>
            </div><br>
            <button class="btn btn-success">Login</button>
        </form>
        <p class="mt-3">Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</div>
